body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #f3f3f3;
    font-family: Arial, Helvetica, sans-serif;
}

.box{
    width: 250px;
    height: 200px;
    background: red;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    box-shadow:0 4px 10px rgba(0,0,0,0.2);
    transition: background 0.3s;
}

#text{
    font-size: 40px;
    font-weight: bold;
    color: white;
}

#BoxBtn{
    padding: 10px 25px;
    font-size: 18px;
    border: none;
    border-radius: ;
}